__pycache__
*__pycache__*
utils/__pycache__
lib/__pycache__
tests
tests/
tests*
10*
lib/scratchpad.py
scratchpad.py
*.PNG
*.png
*.jpg
*.jpeg
*.JPEG
*.GIF
*.gif
.vscode/
.vscode/*
docs/hacking.md
LICENSE
LICENSE.mg
license
192*
