sty>=1.0.0b11
tqdm>=4.35.0
wfuzz>=2.4
shodan>=1.23.0
requests>=2.25.0
python_hosts>=0.4.6
psutil>=5.6.7
python_libnmap>=0.7.0
beautifulsoup4>=4.8.0
termcolor>=1.1.0
PyYAML>=5.1.2
xmltodict>=0.12.0
pyasn1>=0.4.8
impacket>=0.9.22
python-ldap>=3.3.1
pycurl>=7.43.0.6
tabulate>=0.8.7
urllib3>=1.25.9
loguru>=0.5.3
